.bg_gray{
    background-color: #f0f0f0;
    letter-spacing: 3px;
    color:#333333;
    text-align: justify;
    display: block;
    line-height: 2.5em;
}

h1{
    font: 18px 微软雅黑;
    font-weight: 600;
    text-align: center;
}

h2{
    font: 16px 微软雅黑;
    font-weight: 600;
    text-align: center;
}

h3{
    font: 14px 微软雅黑;
}

h4{
    font: 14px 微软雅黑;
}

p{
    text-indent:2em;
    font: 14px 微软雅黑;
    text-align: justify;

}

span{
    color:#9d3131;
    font-weight: 500;
}
